<div class="py-5 text-center">
  <h2>Pets</h2>
</div>

<div class="row justify-content-md-center">
  <div class="d-grid mb-5 gap-2 d-md-flex justify-content-md-center">
    <!-- Add pet and log out buttons -->
    <a class="btn btn-primary" routerLink="/add">Add pet</a>
    <button (click)="onLogout()" class="btn btn-secondary">Log out</button>
  </div>
  <!-- Pets table -->
  <table class="table">
    <thead>
      <tr>
        <th
          (click)="sort(header)"
          *ngFor="let header of headers"
          role="button"
          scope="col"
        >
          {{ header === "ID" ? "#" : header }}
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pet of petsToShow">
        <th class="align-middle" scope="row">{{ pets.indexOf(pet) + 1 }}</th>
        <td class="align-middle">{{ pet.name }}</td>
        <td class="align-middle">{{ pet.code }}</td>
        <td class="align-middle">{{ pet.type }}</td>
        <td class="align-middle">{{ pet.furColor }}</td>
        <td class="align-middle">{{ pet.country }}</td>
        <td class="align-middle">
          <a [routerLink]="['/pets', pet.id]" class="btn btn-primary"
            >Edit pet</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>
