<div class="py-5 text-center">
  <h2>Pets</h2>
</div>

<div class="row justify-content-md-center">
  <div class="mb-5 col-md-auto">
    <a routerLink="/add" class="btn btn-primary">Add Pet</a>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th
          scope="col"
          role="button"
          *ngFor="let header of headers"
          (click)="sort(header)"
        >
          {{ header === "ID" ? "#" : header }}
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pet of petsToShow">
        <th scope="row" class="align-middle">{{ pets.indexOf(pet) + 1 }}</th>
        <td class="align-middle">{{ pet.name }}</td>
        <td class="align-middle">{{ pet.code }}</td>
        <td class="align-middle">{{ pet.type }}</td>
        <td class="align-middle">{{ pet.furColor }}</td>
        <td class="align-middle">{{ pet.country }}</td>
        <td class="align-middle">
          <a [routerLink]="['/pets', pet.id]" class="btn btn-primary"
            >Edit pet</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>
